.page { 
  background-image: var(--page-bg-image); 
  background-color: var(--page-bg-color); 
  background-position: center; 
  background-size: cover; 
  background-attachment: fixed;
} 
 
.header { 
  display: grid; 
  position: relative; 
  background-image: var(--header-bg-image); 
  background-color: var(--page-bg-color);  
  background-position: center; 
  background-size: cover; 
  background-repeat: no-repeat;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "menu"
    "title"
    "text";
  gap: 20px; 
} 
 
.decorated-zone { 
  position: relative; 
} 
 
/* Уголки */ 
.decorated-zone::before, 
.decorated-zone::after { 
  content: ''; 
  position: absolute; 
  width: 25px; 
  height: 25px; 
  box-sizing: border-box; 
  border-color: var(--corner-color); 
} 
 
.decorated-zone::before { 
  top: 17px; 
  right: 18px; 
  border-width: 1px 1px 0 0; 
  border-style: solid; 
} 
 
.decorated-zone::after { 
  border-width: 0 0 1px 1px; 
  border-style: solid; 
  bottom: 0; 
  left: 0; 
} 
 
/* Элемент REC */ 
.rec-label { 
  position: absolute; 
  display: var(--rec-display); 
  color: var(--rec-color); 
  font-size: 18px; 
  font-family: 'IBM Plex Mono', sans-serif; 
  text-transform: uppercase; 
  letter-spacing: 0px; 
  line-height: 25px; 
  text-align: center; 
} 
 
.rec-label::after { 
  content: ""; 
  position: absolute; 
  top: 9px; 
  display: inline-block; 
  width: 9px; 
  height: 9px; 
  margin-left: 10px; 
  vertical-align: middle; 
  background: var(--rec-dot-color); 
  border-radius: 50%; 
  box-shadow: 0 0 4px 2px var(--rec-glow); 
  /*animation: pulse 1.5s infinite;*/ 
} 
 
/*@keyframes pulse { 
   
  0% {  
    opacity: 1; 
  } 
 
  50% {  
    opacity: 0.5; 
  } 
 
  100% {  
    opacity: 1; 
  } 
}*/ 
 
.header__title { 
  grid-area: title;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  margin: 0; 
  color: var(--title-color); 
  font-family: 'IBM Plex Mono', sans-serif; 
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem); 
  font-weight: 700; 
  line-height: 83%; 
  text-shadow: 4px 4px 0px var(--title-box-shadow);
  padding: 0 10px;
} 
 
.header__text { 
  grid-area: text;
  align-self: start;
  color: var(--title-decor-text); 
  font-family: 'IBM Plex Mono', sans-serif; 
  font-size: 18px; 
  font-weight: 700; 
  background-color: var(--title-decor-bg);
} 
 
/* Меню темы */ 
.header__theme-menu { 
  grid-area: menu;
  justify-self: end;
  display: flex; 
  justify-content: center; 
  font-family: 'IBM Plex Mono', monospace; 
  font-size: 18px; 
  font-weight: 400; 
  font-style: normal; 
  text-align: center; 
  color: var(--corner-color); 
  background-color: transparent;
} 
 
.header__theme-menu-list { 
  display: flex; 
  flex-direction: column; 
  gap: 6px; 
  list-style: none; 
  margin: 0; 
  padding: 0; 
} 
 
.header__theme-menu-button { 
  padding: 3px 13px; 
  border: 1px solid transparent; 
  font-family: 'IBM Plex Mono', monospace; 
  font-size: 18px; 
  font-weight: 400; 
  line-height: 18px; 
  text-align: center; 
  text-transform: lowercase; 
  letter-spacing: 0px; 
  color: var(--menu-button-color); 
  cursor: pointer; 
  background: transparent; 
  transition: border 0.3s ease; 
} 
 
.header__theme-menu-button:not(.header__theme-menu-button_active):hover { 
  border: 1px solid var(--menu-button-hover); 
} 
 
.header__theme-menu-button:focus { 
  outline: none; 
  border-bottom: 1px solid var(--menu-button-focus); 
} 
 
.header__theme-menu-button_active { 
  border: 1px solid var(--menu-button-active); 
  pointer-events: none; 
} 
 
/* Секции контента */ 
.content-section { 
  display: grid; 
  position: relative; 
  font-family: 'IBM Plex Mono', sans-serif; 
  font-size: 18px; 
  color: var(--text-color); 
  align-items: start; 
} 
 
.section-title { 
  font-family: 'IBM Plex Mono', sans-serif; 
  font-size: 18px; 
  color: var(--section-title-color); 
} 
 
.card__title { 
  margin: 0 0 10px 0; 
  color: var(--title-decor-text); 
  font-family: 'IBM Plex Mono', sans-serif; 
  font-size: 18px; 
  font-weight: 700; 
  background-color: var(--title-decor-bg); 
} 
 
.card { 
  grid-column: 2; 
} 
 
.card__content { 
  margin-top: 10px; 
} 
 
.blocker-card { 
  display: grid; 
  grid-template-columns: 1fr; 
  gap: 0 20px; 
  position: relative; 
  font-family: 'IBM Plex Mono', sans-serif; 
  font-size: 18px; 
  color: var(--text-color); 
  align-items: start; 
} 
 
.blocker-card__content { 
  display: contents; 
} 
 
.content-section { 
  position: relative; 
  font-family: 'IBM Plex Mono', sans-serif; 
  font-size: 18px; 
  color: var(--text-color); 
  align-items: start; 
} 
 
.tip-card__content { 
  display: flex; 
  flex-direction: column; 
  grid-column: 2; 
} 
 
.tip-card__content h3 { 
  margin-bottom: 20px; 
} 
 
.tip-block { 
  margin-bottom: 0; 
} 
 
.tip-block:not(:last-child) { 
  margin-bottom: 10px; 
} 
 
.tip-block p { 
  margin-bottom: 0; 
} 
 
.card__title__content { 
  font-weight: 400; 
  line-height: 23.4px; 
  letter-spacing: 0px; 
  background-color: var(--title-decor-bg); 
  margin-top: 10px; 
  color: var(--title-decor-text); 
} 
 
/* Галерея */ 
.visual-gallery { 
  padding: 0 20px; 
  margin-top: 80px; 
} 
 
.gallery { 
  display: grid; 
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(3, 1fr); 
  gap: 20px; 
  grid-auto-flow: dense; 
} 
 
.gallery__item { 
  box-sizing: border-box; 
  min-block-size: 4.3em; 
  margin: 0; 
} 
 
.gallery__image { 
  width: 100%; 
  object-fit: cover;
  object-position: center; 
} 
 
.footer { 
  display: flex; 
  position: relative; 
  height: 100vh; 
  min-height: 768px; 
  margin-top: 80px; 
  align-items: center; 
  justify-content: center; 
} 
 
.footer__title { 
  color: var(--title-color); 
  font-family: 'IBM Plex Mono', sans-serif; 
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem); 
  font-weight: 700; 
  line-height: 83%; 
  text-shadow: 2px 2px 0px var(--title-box-shadow); 
  margin: 0; 
} 
 
/* Параграфы */ 
p { 
  color: var(--paragraph-color); 
} 
 
/* Ссылки */ 
.double-text-link { 
  display: inline-block; 
  position: relative; 
  color: var(--link-color); 
  font-family: 'IBM Plex Mono', monospace; 
  font-size: 18px; 
  font-weight: 400; 
  line-height: 23.4px; 
  letter-spacing: 0; 
  text-decoration: none; 
  outline: none; 
  transition: text-decoration 0.3s ease;
  text-shadow: 1px 1px 0 var(--link-shadow-color); 
} 
 
.double-text-link:hover { 
  border-bottom: 1px solid var(--link-color); 
}
 
.double-text-link:focus {
  outline: none;
}

.double-text-link:focus-visible {
  outline: 2px solid var(--link-color); 
  border-radius: 2px; 
}
 
/* ===== МЕДИА-ЗАПРОСЫ ===== */ 
 
/* Мобильные устройства (до 767px) */ 
@media (width <= 767px) { 
  .header { 
    display: flex; 
    flex-direction: column;  
    padding: 0; 
    margin: 0; 
    min-height: 668px; 
  } 
   
  .rec-label { 
    top: 1.3%; 
    right: 10%; 
  } 
   
  .header__title { 
    text-align: left; 
    justify-content: flex-start; 
    padding-left: 10px; 
    font-size: clamp(7rem, 6.5rem + 2vw, 8rem); 
    letter-spacing: 2.4px;
    margin-top: 13%; 
  } 
   
  .header__text {
    display: inline-block; 
    width: -webkit-fill-available;
    text-align: start;
    margin: 10% 3% 0% 2.3%;
    padding: 0;
    white-space: pre-line;
  } 
   
  .decorated-zone::before { 
    top: 0.7%; 
    right: 3%; 
  } 
 
  .header__theme-menu { 
    line-height: 30px;
    justify-content: flex-end;
    margin-top: 17.5%; 
  } 
   
  .decorated-zone::after { 
    bottom: 2.3%; 
    left: 3%; 
  } 
   
  .section-title { 
    margin-top: 13px; 
  } 
   
  .card__title { 
    margin-top: 5px; 
  } 
   
  .card__content { 
    margin-top: 13px; 
  } 
   
  .content-section { 
    grid-template-columns: 1fr; 
    gap: 15px; 
    padding: 0 11px 0 9px;
    margin-top: 39px;
  } 

  .content-section:first-of-type {
    margin-top: 21px; 
  }

  .tips-section {
    margin-top: 19px;
  }
    
  .card, 
  .tip-card__content { 
    grid-column: 1; 
  } 
      
  .blocker-card { 
    display: block; 
    grid-template-columns: 1fr; 
    gap: 15px; 
  } 
   
  .blocker-card__content { 
    display: block; 
    margin-bottom: 22px;
    grid-column: 1; 
    grid-row: auto; 
  }
  
  .blocker-card__content p { 
    padding-top: 0px;
  }
   
  .concentration-blockers .section-title { 
    margin-bottom: 20px; 
  } 
    
  .card__title__content { 
    margin-top: 20px;
    margin-bottom: 10px; 
  } 
   
  .tip-block:not(:last-child) { 
    margin-bottom: 22px; 
  } 
   
  .visual-gallery { 
    padding: 0 10px 0 10px; 
    margin-top: 51px; 
  } 
   
  .gallery { 
    grid-template-columns: 1fr; 
    grid-template-rows: auto; 
    gap: 6px; 
  } 
   
  .gallery__item { 
    grid-column: 1; 
    grid-row: auto; 
  } 
   
  .footer { 
    min-height: 668px; 
    margin-top: 36px; 
  } 
   
  .footer__title { 
    font-size: clamp(7rem, 6.5rem + 2vw, 8rem); 
    margin: 2px 18px 2px 13px; 
  } 
} 
 
/* Планшеты (768px - 1023px) */ 
@media (width >= 768px) { 
  .header { 
    display: flex; 
    flex-direction: column;  
    padding: 0; 
    margin: 0;
    min-height: 1024px; 
  } 
   
  .decorated-zone::before { 
    right: 0.6%; 
  } 
   
  .rec-label { 
    right: 4.4%; 
    top: 2%; 
  } 
   
  .header__theme-menu {  
    justify-content: flex-end;
    margin-top: 24.8%; 
    margin-right: 0.5%; 
    padding: 0; 
    line-height: 1.5; 
  } 
   
  .header__theme-menu-list { 
    flex-direction: column; 
    align-items: flex-end; 
    gap: 10px; 
  } 
 
  .header__title { 
    text-align: left; 
    justify-content: flex-start; 
    font-size: clamp(7rem, 6.5rem + 2vw, 8rem); 
    letter-spacing: 0px;
    margin-top: 21%;  
    padding: 0; 
  } 
   
  .header__text { 
    display: inline-block; 
    width: -webkit-fill-available;
    text-align: start;
    margin: 18.4% 0.6% 0% 50.9%;
    padding: 0;
    white-space: pre-line;
  } 
   
  .decorated-zone::after { 
    left: 2.6%; 
    bottom: 2%; 
  } 

  .content-section:first-of-type {
    gap: 17px 20px; 
    padding: 0 5px 0 20px;
    margin-top: 56px; 
  }
   
  .content-section { 
    margin-top: 77px;
    padding: 0 5px 0 20px;
  } 

  .tips-section {
    margin-top: 82px;
    grid-template-columns: 1fr 2fr;
    padding: 0 5px 0 19px;
    gap: 19px;
  }

  .blocker-card__tips {
    padding: 0;
  }
   
  .card__content { 
    margin-top: 11px; 
    margin-bottom: 4px; 
  } 
   
  .blocker-card { 
    display: flex; 
    flex-direction: column; 
    gap: 20px; 
    padding-top: 24.7px; 
  } 
   
  .content-section .section-title { 
    max-width: 236px; 
    margin-bottom: 0; 
    text-align: left; 
    line-height: 1.3; 
  } 
   
  .blocker-card { 
    display: block; 
  } 
   
  .blocker-card__content { 
    display: block; 
    margin-bottom: 0; 
  } 

  .blocker-card__item:first-of-type {
    margin-top: 0px;
  }

  .blocker-card__item {
    margin-top: 20px;
  }
 
  .tip-card__content h3 { 
    margin-bottom: 10px; 
  } 

  .tip-block p {
    margin-bottom: 7px;
  }
 
  .tip-block:not(:last-child) { 
    margin-bottom: 34px; 
  } 
   
  .card__title__content {
    margin-top: 24px;
  }

  .footer { 
    margin-top: 7.5%; 
    min-height: 1024px; 
  } 
 
  .footer__title { 
    margin-top: 1%; 
    margin-left: 2%; 
  } 
   
  .visual-gallery { 
    padding: 0 5px 0 20px; 
    margin-top: 76px; 
  } 
 
  .visual-gallery .card__title { 
    margin-top: 0; 
  }   
   
  .gallery { 
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(3, auto); 
    gap: 20px; 
    width: 100%; 
    height: 100%; 
    padding-top: 9px; 
  } 
   
  .gallery__image { 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
  } 
   
  .gallery__item:nth-child(1) { 
    grid-column: 1 / 3; 
    grid-row: 1; 
    max-height: 192px; 
  } 
   
  .gallery__item:nth-child(2) { 
    grid-column: 3; 
    grid-row: 1 / 3; 
    max-height: 442px; 
  } 
   
  .gallery__item:nth-child(3) { 
    grid-column: 1; 
    grid-row: 2 / 4; 
    max-height: 568px; 
  } 
   
  .gallery__item:nth-child(4) { 
    grid-column: 2; 
    grid-row: 2; 
    max-height: 230px; 
  } 
   
  .gallery__item:nth-child(5) { 
    grid-column: 2 / 4; 
    grid-row: 3; 
    max-height: 318px; 
  } 
} 
 
/* Десктопы (1024px и выше) */ 
@media (width >= 1024px) { 
  .header { 
    min-height: 768px; 
  } 

  .rec-label { 
    right: 3.4%; 
    top: 2.5%; 
  } 
   
  .decorated-zone::before { 
    right: 0.4%; 
    top: 2%; 
  } 
 
  .decorated-zone::after { 
    bottom: 3%; 
    left: 2%; 
  } 
 
  .header__theme-menu {  
    line-height: 28px;
    width: auto; 
    margin: 1.4% 37.7% 0 0; 
    padding: 0; 
    z-index: 1; 
  } 
   
  .header__theme-menu-list { 
    flex-direction: row; 
    gap: 10px; 
  } 
   
  .header__title { 
    transform: translateX(-7px); 
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);  
    padding: 0; 
    margin: 25.3% 0 0 1%; 
  } 
   
  .header__text {
    max-width: 491px;
    text-align: start;
    margin: 9.4% 0.2% 4% 50.8%;
    padding: 0;
    white-space: normal;
    word-spacing: 0.8px;
  } 
 
  .content-section { 
    grid-template-columns: 1fr 2fr; 
    gap: 0 14px; 
    padding: 0 5px 0 20px; 
    margin-top: 80px;
    align-items: start;  
  } 

  .tips-section {
    align-items: start;
    margin-top: 82px;
    grid-template-columns: 1fr 2fr;
    padding: 0 5px 0 19px;
    gap: 10px;
  }

  .blocker-card__tips {
    display: grid;
  }

  .tip-block p {
    margin-top: 12px;
  }

  .tip-block:not(:last-child) { 
    margin-bottom: 2px; 
  }

  .card__title__content {
    margin-top: 2px;
  }

  .card__title__content:not(:last-child) {
    margin-top: 10px;
  }

  .content-section .section-title {  
    margin-bottom: 0; 
    text-align: left; 
    line-height: 1.3;
    max-width: 100%; 
  } 

  .content-section:first-of-type {
    gap: 17px 12px; 
    padding: 0 5px 0 19px;
    margin-top: 56px;
  }
 
  .card__content { 
    margin-top: 10px; 
  } 
   
  .concentration-blockers .section-title { 
    margin: 0; 
    padding-right: 73.5%;  
    text-align: left; 
    align-self: start; 
  } 
   
  .blocker-card { 
    grid-column: 1/3;  
    grid-row: 2; 
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    align-items: start;  
    padding-top: 20px; 
  } 
   
  .blocker-card__content { 
    display: flex; 
    flex-direction: column; 
    height: 100%; 
  } 
   
  .blocker-card__content .card__title { 
    margin: 0 0 10px 0; 
  } 
   
  .blocker-card__content p { 
    flex-grow: 1;  
    margin: 0; 
    overflow-wrap: break-word; 
    word-break: break-word; 
  } 

  .blocker-card__item {
    margin: 0;
  }
   
  .tip-card__content h3 { 
    margin-bottom: 10px; 
  } 
 
  .visual-gallery { 
    padding: 0 5px 0 20px; 
    margin-top: 73px;
  } 
   
  .visual-gallery .card__title { 
    margin-bottom: 11px; 
  }   
 
  .gallery { 
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(3, auto); 
    gap: 20px; 
  } 
 
  .gallery__image { 
    height: 100%; 
  } 

  /* Расположение элементов галереи */ 
  .gallery__item:nth-child(1) { 
    grid-column: 1 / 3; 
    grid-row: 1 / 2;
    max-height: 280px;  
  } 
 
  .gallery__item:nth-child(2) { 
    grid-column: 3 / 4; 
    grid-row: 1 / 3; 
    max-height: 595px; 
  } 
 
  .gallery__item:nth-child(3) { 
    grid-column: 1 / 2; 
    grid-row: 2 / 4; 
    max-height: 768px; 
  } 
 
  .gallery__item:nth-child(4) { 
    grid-column: 2 / 3; 
    grid-row: 2 / 3; 
    max-height: 315px; 
  } 
 
  .gallery__item:nth-child(5) { 
    grid-column: 2 / 4; 
    grid-row: 3 / 4; 
    max-height: 431px; 
  } 
   
  .footer { 
    margin-top: 64px; 
    min-height: 768px; 
  } 
 
  .footer__title { 
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem); 
    margin-top: 0%; 
    margin-left: 2%; 
  } 
}