:root {
  --font-family: 'IBM Plex Mono', monospace;
  --font-size: 18px;
  --gap-small: 10px;
  --gap-medium: 20px;
  --gap-large: 40px;
  
  /* Общие размеры */
  --header-height-mobile: 668px;
  --header-height-tablet: 1024px;
  --header-height-desktop: 768px;
}